<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="ABaseEntities" connectionString="metadata=res://*/Model.Model_ABase.csdl|res://*/Model.Model_ABase.ssdl|res://*/Model.Model_ABase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SYSCONPC\SQL2014;initial catalog=ABase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>